<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="App:CosmosDB:DatabaseUri" value="" />
    <add key="App:CosmosDB:DatabaseKey" value="" />
    <add key="App:CosmosDB:DatabaseId" value="" />
    <add key="App:CosmosDB:CollectionId" value="" />
    <add key="App:ServiceBus:ConnectionString" value="" />
    <add key="App:ServiceBus:QueueName" value="" />
    <add key="App:CognitiveServices:AccountName" value="" />
    <add key="App:CognitiveServices:EndpointUri" value="" />
    <add key="App:CognitiveServices:ApiKey" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.4.0" newVersion="8.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>